@font-face {
	font-family: 'El Rio Lobo';
	src: url('../fonts/The_Emperors_font.eot');
	src: url('../fonts/The_Emperors_font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/The_Emperors_font.woff') format('woff'),
		 url('../fonts/The_Emperors_font.ttf')  format('truetype'),
		 url('../fonts/The_Emperors_font.svg#04a895ec2b9535ff55881607625d1b84') format('svg');

	font-style: normal;
	font-weight: lighter;
}
    *{margin:0;}
    *{padding:0;}
    body{max-width: 480px; text-align: center;}
    h1, h2, h4, li{font-family: 'El Rio Lobo';}
    li{font-size: 180%;}
    #primero{ background-color: #a1243a; padding: 5%;}
    #primero h1{ text-align: center; color:yellow;}	
    #primero h3{ text-align: center; color:#fff;}
    #segundo{ background-color: #158abe; height: 275px; text-align: center;}
    #segundo img{padding: 5%;}
    #tercero{ background-image: url("../images/cuzco2.jpg"); background-repeat: no-repeat; height: 370px;}
    #tercero p{color:#fff; text-align: right;}
    #tercero h4{color:yellow; font-size: 150%; text-align: right;}
    #cuarto{ text-align: center; height: 100px;  }
    #cuarto p{font-size: 200px;}